@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --radius: 1rem;
}

html, body { height: 100%; }
body {
  @apply bg-brand-dark text-white antialiased;
  background-image: theme('backgroundImage.sound-gradient');
  background-attachment: fixed;
}

.container {
  @apply mx-auto max-w-6xl px-4;
}